nav{
    background-image: url(../img/2.jpeg);
    background-repeat: repeat-x;
    display: inline-block;
}
body{
    background-image: linear-gradient(90deg, #00DBDE 0%, #540256 100%);
}
h1{
    color: chocolate;
    background-image: linear-gradient(90deg,  #540256 0%, #00DBDE 100%);
}
a{
    background-color: rgb(87, 52, 152);;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    width: 30%;
}
.divHistoria{
    background-color: burlywood;
}
#botonBarra{
    background-color: aliceblue;
    color: black;
}
#historiaDigimon{

    display: inline-block;
    padding: 10%;
    margin-top: 10%;
    color: black;
    
}
#imagenDigimon{
    padding: 4PX;
    background-color: burlywood;
    width: 100%;
   

}
#nombreDigimon{
    text-align: center;
    background-color: rgb(26, 202, 242);
    color: rgb(17, 0, 255);
    font-size: 25px;
    
}

#nivelDigimon{
    text-align: center;
    background-color: rgb(58, 207, 233);
    color: rgb(64, 0, 255);
    font-size: 25px;
}
#consumo{
    align-content:center;
    background-color: rgb(87, 52, 152); 
    color: white;
}
#titulo{
    
    color: white;
}
#divContainer{
    margin-top: 5%;
}

#mi_footer{/*estilos de id #*/
    background-image: url("../img/3.jpeg");
    background-repeat: repeat-x;
    font-size: 120%;
    color: rgb(12, 0, 0);
    text-align: center;/*alineacion del texto*/  
}
.organizacion_footer{
    display: inline-block;
    width: 300px;
    height: auto;
}